*{
  margin: 0;
  padding: 0;
  font-family: 'Nunito', Arial, sans-serif;
  list-style: none;
  text-decoration: none;
  font-size: 102%;
  -webkit-overflow-scrolling: touch;
}
h1{
  font-size: 1.3em;
}
p{
  color: #8182a0;
  line-height: 27px;
}
.hideControl{
  opacity: 0 !important;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 40px);
  padding: 7px 20px;
  background: #fff;
  z-index: 3;
  display:flex;
  align-items:center;
  box-shadow: 0 2px 5px rgba(44, 40, 68, 0.2);
  transform: translateY(-100%);
  transition: 0.2s transform cubic-bezier(.3,.73,.3,.74); 
}
input, textarea{
  font-size: 100%;
}
header .bottomTimer{
  margin: 0;
}
header .logo{
  flex-grow: 1;
  display:flex;
  align-items:center;
}
.logo img{
  width: 25px;
  vertical-align: middle;
  margin-right: 5px;
}
header .bottomTimer b{
  color: #000 !important;
  font-size: 1.8em !important;
}
header .bottomTimer abbr{
  color: #6c4be6;
  padding-top: 5px;
  font-size: 1.5em;
}
body.down header {
    transform: translateY(0);
}

button, .button{
  display: inline-block;
  color: #fff;
  border: 2px solid #6c4be6;
  padding: 10px 15px;
  background: #6c4be6;
  font-weight: bold;
  font-size: 100%;
  cursor: pointer;
  transition: background linear 0.3s;
  border-radius: 5px;
}
.blank{
  background: none;
  color: #6c4be6;
}
button:hover, .button:hover{
  background: #6c4be6 !important;
  color: #fff !important;
}

.topSection{
  display:flex;

}

.launchImage {
  width: 45%;
  padding-top: 45%;
  background: #6c4be6 url('./images/rocket.png') 50% 50% no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
} 
video{
  position: absolute;
  bottom:0;
  left:0;
  width: 100%;
  z-index: 2;
}

.rightSection h3{
  font-size: 1.1em;
  margin-bottom: 35px;
  color: #8182a0;
}
.rightSection .countdown{
  display:flex;
  align-items:flex-start;
}
.rightSection .countdown div{
  display:flex;
  align-items:center;
  flex-direction: column;
  flex-grow: 1;
}
.rightSection .countdown b{
  display: inline-block;
  font-family: 'Anton', sans-serif;
  font-size: 4.1em;
  font-weight: normal;
}
.rightSection abbr{
  display: block;
  font-weight: bold;
  font-size: 2.5em;
  padding-top: 22px;
  color: #8182a0;
}
.rightSection .countdown span{
  color: #8182a0 !important;
  font-size: 0.8em;
  font-weight: bold;
}
.rightSection button{
  margin-top: 40px;
  margin-bottom: 35px;
}
.rightSection{
  flex-grow: 1;
  text-align: center;
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  padding-bottom: 20px;
}
.rightSection p{
  max-width: 500px;
}

/* ABOUT SECTION */
.aboutSection{
  padding: 50px 0;
  padding-bottom: 50px;
  text-align: center;
  background: #eaeaf7;
}
.aboutSection .info{
  max-width: 800px;
  margin: auto;
  padding-top: 30px;
}

.features{
  position: relative;
}
#featuresList{
  overflow: hidden;
}
#featuresList ul{
  display:flex;
  align-items: flex-start;
  white-space: nowrap;
  width: fit-content;
} 
.features li{
  background: #fff;
  font-size: 0.9em;
  width: 230px;
  flex-shrink: 0;
  min-height: 250px;
  padding: 15px;
  border-radius: 5px;
  display:flex;
  align-items:center;
  flex-direction: column;
  margin: 10px;
  white-space: normal;
  box-shadow: 0 2px 5px rgba(59, 53, 97, 0.15);
}
.features li div{
  flex-grow: 1;
  display:flex;
  align-items:center;
} 
.features li img{
  width: 100px;
}
.features li p{
  line-height: 23px;
}
.controls{
  position: absolute;
  top: calc(50% - 35px);
  width: calc(100% - 60px);
  left: 0;
  display:flex;
  align-items:center;
  justify-content: space-between;
  padding: 0 30px;
}
.controls div{
  background: #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  box-shadow: 0 2px 5px rgba(44, 32, 112, 0.2);
  background: #fff; 
  color: #fff;
  cursor: pointer;
  display:flex;
  align-items:center;
  justify-content: center;
  flex-grow: 0;
}
.controls div:hover{
  background: #6c4be6;
}
.controls svg{
  width: 15px;
}
.controls div:hover svg{
  fill: #fff;
}
.controls #left{
  transform: scaleX(-1);
}
.controls #left svg{
  margin-right: -5px; 
}

.aboutSection h3{
  margin: 35px 0;
  color: #8182a0;
}

.aboutSection a{
  margin-top: 30px;
  margin-bottom: 20px;
}


/* CUSTOMER SECTION */
.customerSection, .hostSection{
  display:flex;
  min-height: 520px;
}
.customerSection h1, .hostSection h1{
  padding: 15px 0;
}
.graphic{
  background: #6c4be6 url('./images/userPic.png') 50% 0% no-repeat;
  background-size: cover;
  flex-grow: 1;
  width: 50%;
  flex-shrink: 0;
}
.hostSection .graphic{
  background: #6c4be6 url('./images/hostPic.png') 50% 0% no-repeat;
  background-size: cover;
}

.info{
  padding: 40px;
  flex-grow: 1;
  width: 50%;
}
.info p{
  margin-top: 20px;
  margin-bottom: 30px;
}

/* STEPS SECTION */
.stepsSection{
  border-top: 2px solid #e8e5f7;
  display:flex;
  align-items:flex-start;
  padding: 50px 0;
}
.stepsSection .stepsImages{
  min-height: 400px;
  width: 40%;
  max-width: 250px;
  flex-shrink: 0;
  margin: 0 30px;
  text-align: center;
}
.stepsImages img{
  width: 100%;
  max-width: 200px;
  padding: 30px;
}
.stepsSection h1{
  margin-bottom: 20px;
}

.scrollTop{
  text-align: center;
  padding: 10px 0;
}
.scrollTop svg{
  width: 30px;
  cursor: pointer;
}
.scrollTop svg:hover{
  fill: #6c4be6;
}

.reasons {
  color: #8182a0;
  max-width: 950px;
  text-align: justify;
  padding-bottom: 20px;
}
.reasons li{
  line-height: 27px;
  margin-top: 35px;
}

/* FOOTER */
footer{
  background: #6c4be6 url('./images/footerPic.svg') 100% 50% no-repeat;
  background-size: cover; 
}
footer section{
  display:flex;
  align-items:center;
}
footer section .bottomTimer{
  flex-grow: 1;
  padding: 40px;
}
.bottomTimer .countdown{
  display:flex;
  align-items:flex-start;
}
.bottomTimer .countdown div{
  display:flex;
  align-items:center;
  flex-direction: column;
}
.bottomTimer .countdown b{
  display: inline-block;
  font-family: 'Anton', sans-serif;
  font-size: 3em;
  color: #fff;
  font-weight: normal;
}
.bottomTimer abbr{
  display: block;
  font-weight: bold;
  font-size: 2em;
  padding-top: 15px;
  margin: 0 7px;
  color: rgba(255, 255, 255, 0.5);
}
.bottomTimer .countdown span{
  color: #8182a0 !important;
  font-size: 0.8em;
  font-weight: bold;
}

footer .mailing{
  padding: 50px;
  text-align: right;
  width: 40%;
  max-width: 420px;
  color: #fff;
}
footer form{
  margin: 40px 0; 
  display:flex;
  border: 2px solid #fff;
  border-radius: 35px;
  overflow: hidden;
}
footer .mailing p{
  color: rgba(255, 255, 255, 0.521) !important;
  margin-top: 10px;
}
footer input{
  padding: 14px 16px;
  border: none;
  color: #fff;
  background: none;
  display: inline-block;
  width: 100%;
  outline: none;
  font-size: 1.05em;
}
footer input::placeholder{
  color: rgba(255, 255, 255, 0.452);
}
footer .button{
  color: #6c4be6;
  background: #fff;
  padding: 15px 20px;
  border-color: #fff;
  border: none;
  border-radius: 0;
  border-left: 2px solid #fff; 
}

footer .credit{
  text-align: center;
  font-weight: bold;
  color: #fff;
  font-size: 0.85em;
  padding: 20px 0;
  color: rgba(255, 255, 255, 0.452);
  background: #412c79;
}

/* CONTACT US LIGHTBOX */
.lightbox{
    display: none;
}
.lightbox, .lightbox .back{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: 50;
}
.lightbox .back{
    background: rgba(47, 45, 75, 0.5);
    z-index: 51;
    cursor: pointer;
}
.lightbox .box{
    position: fixed;
    top:15%;
    left: 0;
    right: 0;
    width: calc(100% - 20px);
    margin: auto;
    max-width: 850px;
    height: 80%;
    max-height: 500px;
    background: #fff;
    box-shadow: 0 1px 20px rgba(0,0,0,0.3);
    border-radius: 5px;
    z-index: 52;
    display:flex;
}
.sendMailSection{
    flex-shrink: 0;
    padding: 30px;
    flex-grow: 1;
    border-left: 2px solid #d8d6e7;
    display:flex;
    align-items:flex-end;
    flex-direction: column;
    text-align: right;
}

.sendMailSection input, .sendMailSection textarea{
    border: 2px solid #d8d6e7;
    padding: 15px;
    display: inline-block;
    width: calc(100% - 30px);
    margin-bottom: 20px;
    outline: none;
}
.sendMailSection textarea{
    flex-grow: 1;
    resize: none;
}
.sendMailSection button{
    border: none;
    padding: 15px;
    margin: 0;
}
.sendMailSection input::placeholder, .sendMailSection textarea::placeholder{
    color: #9b94c4;
}
.socialMediaSection{
    padding: 35px;
}
.socialMediaSection a{
    color: #000;
    text-align: center;
    display: block;
    margin-bottom: 30px;
}
.socialMediaSection a div:first-child{
    width: 70px;
    height: 70px;
    border: 2px solid #c8c2e7;
    border-radius: 40px;
    display:flex;
    align-items:center;
    justify-content: center;
    margin-bottom: 12px;
}
.socialMediaSection a div:last-child{
    font-weight: bold;
}


/* SERVER ERROR LIGHTBOX */
#lightbox2 .box{
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color:#fff;
  font-size: 120%;
  background: rgb(255, 32, 87);
  text-align: center;
}
#lightbox2 .box *{
  text-align: center !important;
}

#lightbox2 h3{
  opacity: 0.7;
  margin-top: 20px;
}

#lightbox2 svg {
  fill: #000;
  width: 100px;
  padding-bottom: 35px;
}

@media screen and (min-width: 500px){
  ::-webkit-scrollbar{
  width: 7px;
  height: 7px;
  background: #fff;
  position: absolute;
  cursor:grab;
}
::-webkit-scrollbar-thumb{
  background: #7d7ff7;
}
}
